<CaseDefendant>
    <CaseId>{{CaseId}}</CaseId>
    <PersonId>{{PersonId}}</PersonId>
    <DateNameEntered>{{DateNameEntered}}</DateNameEntered>
    <Access>{{Access}}</Access>
    <Status>{{Status}}</Status>
    <StatusDate>{{StatusDate}}</StatusDate>
    <Disposition>{{Disposition}}</Disposition>
    <DispositionDate>{{DispositionDate}}</DispositionDate>
    <Stage>{{Stage}}</Stage>
    <StageDate>{{StageDate}}</StageDate>
    <DateDemoRecorded>{{DateDemoRecorded}}</DateDemoRecorded>
    <CourtLocation>{{CourtLocation}}</CourtLocation>
    <Juvenile>{{Juvenile}}</Juvenile>
    <OffenseLevel>{{OffenseLevel}}</OffenseLevel>
    <UserId>{{UserId}}</UserId>
    <DateUpdated>{{DateUpdated}}</DateUpdated>
    <TransactionOrigin>{{TransactionOrigin}}</TransactionOrigin>
    <PublicCaseId>{{PublicCase}}</PublicCaseId>
    <AddressId>{{AddressId}}</AddressId>
    <AgencyLocation>{{AgencyLocation}}</AgencyLocation>
    <IndexEnteredDate>{{IndexEnteredDate}}</IndexEnteredDate>
    <Index>{{Index}}</Index>
    <DateOriginalViolation>{{DateOriginalViolation}}</DateOriginalViolation>
    <Jurisdiction xsi:nil="true"/>
    <DisplayName>{{DisplayName}}</DisplayName>
    <PrimaryDefendant>{{PrimaryDefendant}}</PrimaryDefendant>
    <DateFiled>{{DateFiled}}</DateFiled>
    <OriginalDispositionDate>{{OriginalDispositionDate}}</OriginalDispositionDate>
    <OriginalDisposition>{{OriginalDisposition}}</OriginalDisposition>
    <DateSentenced>{{DateSentenced}}</DateSentenced>
    <StatusCode>
        <Id>StatusCode.id</Id>
        <Table>DEFSTS</Table>
        <Value>StatusCode.value</Value>
        <DateInvalid xsi:nil="true"/>
        <Description>StatusCode.description</Description>
    </StatusCode>
    <DispositionCode>
        <Id>DispositionCode.id</Id>
        <Table>DEFDSP</Table>
        <Value>DispositionCode.value</Value>
        <DateInvalid xsi:nil="true"/>
        <Description>DispositionCode.description</Description>
    </DispositionCode>
    <OffenseLevelCode>
        <Id>OffenseLevelCode.id</Id>
        <Table>OFFLEV</Table>
        <Value>OffenseLevelCode.value</Value>
        <DateInvalid xsi:nil="true"/>
        <Description>OffenseLevelCode.description</Description>
    </OffenseLevelCode>
</CaseDefendant>